.pokemon-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.pokemon-loading-head, .pokemon-loading-body, .pokemon-loading-tail {
  width: 48px;
  height: 48px;
  background-color: #f1c40f;
  border-radius: 50%;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.pokemon-loading-head {
  animation-name: head-animation;
}

.pokemon-loading-body {
  animation-name: body-animation;
  animation-delay: 0.2s;
}

.pokemon-loading-tail {
  animation-name: tail-animation;
  animation-delay: 0.4s;
}

@keyframes head-animation {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-40px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes body-animation {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes tail-animation {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

  